<!DOCTYPE html>
  <html>
    <head>
      <title>ALEXXA!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <%= yield %>
      </div>
      <br>
      <footer class="footer">
      <div class="container">
        <br>
        <p class="text-muted">another one by the one and only <a target="_blank" href="http://bigzoo.me">bigzoo<i class="em em-computer"></i></a></p>
      </div>
    </footer>
    </body>
  </html>
